.page
{
    background-color: aquamarine;
    background-position: 0%;
}
 .navbar_signup{
     font-family: Arial;
     display: flex;

 }

 .navbar_logo {
     padding: 2%;
     color: rgb(90, 88, 88);
     font-size: 25px;
 }

 .signup-pic_container {
     margin-top: 3%;

 }

 .signup-pic_container img {
     width: 520px;
     height: auto;
     margin: auto;
     max-width: 100%;
 }

 .signup_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
     display: flex;
     background-color: white;
     margin: 0 auto;


     box-sizing: border-box;
     width: 70%;
     max-width: 100%;
     padding: 2%;
     border-radius: 20px;
 }

 .exist_user{
     background-color:white;
     margin: 0 auto;


     box-sizing: border-box;
     width: 50%;
     max-width: 100%;
     padding: 1%;
     border-radius: 20px;






 }

 .get {

     text-align: center;
     color: black;
     font-family: arial;
     font-size: 50px;
     padding-top: 4%;
     background-color:white;
     border-radius: 12px;
     font-weight: bolder;

 }

 .redirect_login {
     text-align: center;

     gap: 1px;
     background-color:white;
     color: rgb(51, 49, 49);
     font-family: arial;

 }

 .redirect_login  a{
     text-decoration: none;
     color: rgba(30, 27, 218, 0.986);
 }

 .signup_box {

     font-size: 20px;
     color: rgb(0, 0, 0);
     font-family: arial;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 4%;
    background-color: white;





 }

 .signup_form {
     padding: 10px;
     background-color: white;

 }

 .user_name {
     display: inline;
     gap: 65px;

 }

 /* .user_name input {
     width: 100%;
     

 } */

 .user_data input , .user_name input {
     font-size: 14px;

     width: 100%;
     padding: 10px;
     margin: 10px 0;
     ;
     display: inline;
     border: 1px solid #ccc;
     border-radius: 12px;
     box-sizing: border-box;
     background-color: rgba(255, 255, 255, 0.781);
 }

 .user_data input::placeholder , .user_name input::placeholder {
     font-style: italic;
 }

 .signup_select select {
     cursor: pointer;
     width: 100%;
     padding: 10px;
     margin: 10px 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 12px;
     box-sizing: border-box;
     background-color: white;
     font-style: italic;
 }

 .signup_btn {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0% 4% 4% 4%;
     color: rgb(104, 85, 224);
     background-color: white;
     border-radius: 12px;
 }

 .reg {
     color: rgb(255, 255, 255);
     background-color: rgb(44, 23, 139);
     border: 1px solid rgb(255, 255, 255);
 }

 .signup_btn button{
     cursor: pointer;
     border: 0;
     border-radius: 0px;
     font-weight: 600;
     margin: 0 0px;
     width: 50%;
     padding: 10px 0;
     box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
     transition: 0.4s;
 }

 .signup_btn button:hover {
     color: white;

     box-shadow: 0 0 20px rgba(46, 22, 202, 0.6);
     background-color: rgb(61, 40, 197);
 }