body
{
    background-color: white;
}
.select
{
    
    margin: auto;
    padding: 2%;
   
     height: 100vh;
    font-family: 'Times New Roman';
}
.select2
{
    margin-top:auto;
    width: 50%;
    
    padding: 2%;
    
     
     position: absolute;  /* Remove from normal document flow */
  top: 50%;            /* Move down from the top */
  left: 50%;           /* Move right from the left */
  transform: translate(-50%, -50%); /* Center the element */
  width: 300px;        /* Fixed width */
  height: 200px;       /* Fixed height */
  
  
  display: flex;       /* Use flexbox inside for text centering */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
    
    
}
.user
{
    max-width: 100%;
    padding: 4%;
    
}
.bttn
{
    width: 200px;        
  
    height: 200px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    
    
    
    border: 1px solid transparent;
    
    min-width: 160px;
   
    
    
    border-radius: 21px;
    padding: 17px 48px;
    color: #080808;
    background-color: white;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0  rgb(91, 107, 112);
    

}
.bttn:hover
{
    background-color: #a5e6a5;
    color: #4c504d; 
    transition-duration: 0.2s;
}
